.container-main {
  display: flex;
  min-height: 89vh;
  background-color: #a0baff;
  background-image: url("../images/movies-background-25.png");
  background-size: contain;
}

.lds-dual-ring {
  margin-top: 10px;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.row {
  display: flex;
}

.row-result {
  display: flex;
  flex-direction: column;
}

.row-center {
  display: flex;
  justify-content: center;
}

.column-full {
  flex-basis: 100%;
}

.column-full-list {
  flex-basis: 100%;
}

.column-half {
  flex-basis: calc(100%/2);
}

.column-two-third {
  flex-basis: calc(200%/3);
}

.column-third {
  flex-basis: calc(100%/3);
}

.ch-r {
  width: 250px;
  display: flex;
  justify-content: right;
  text-align: right;
  text-shadow: 0 5px 70px;
}

.font-bold {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
}

.font-semibold {
  font-family: Poppins, sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: white;
}

.font-light {
  font-family: Poppins, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: white;
}

.header {
  background-color: #608afc;
  box-shadow: 0 15px 55px;
  z-index: 10;
}

.footer {
  height: 80px;
  background-color: #608afc;
  z-index: 20;
  box-shadow: 0 -10px 90px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.film {
  font-size: 40px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.center,
.search-column {
  display: flex;
  justify-content: center;
}

.home,
.list {
  font-size: 30px;
  padding: 25px;
  cursor: pointer;
}

.search-header {
  margin-top: 30%;
  text-shadow: 0 5px 70px;
  font-size: 30px;
}

.search-bar {
  margin-top: 20px;
  padding-left: 50px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  width: 350px;
  height: 50px;
  border: none;
  border-radius: 1rem;
  outline: none;
  box-shadow: 10px 10px 15px;
  background-image: url("../images/magnifying-glass.webp");
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: 8px center;
  cursor: pointer;
}

.search-button {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: white;
  background-color: #0f1fb8;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 60px;
}

.right {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.view {
  visibility: visible;
}

.hidden {
  display: none;
}

.backpage {
  font-size: 40px;
  padding: 10px;
  cursor: pointer;
}

.title-result {
  color: black;
  text-shadow: 0 2px 80px;
  font-size: 25px;
}

.img-result {
  width: 100%;
  height: 225px;
}

.summary {
  background-color: #e0e0e0;
  font-size: 13px;
  text-align: center;
  color: black;
  padding: 15px;
  margin-top: 20px;
}

.add-list {
  background-color: #0f1fb8;
  border: none;
  border-radius: 10px;
  width: 175px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
}

.modal-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  font-family: Poppins, sans-serif;
  background-color: #e0e0e0;
  width: 345px;
  height: 350px;
  text-align: center;
  border-radius: 2rem;
}

.modal-2 {
  font-family: Poppins, sans-serif;
  background-color: #e0e0e0;
  width: 345px;
  height: 200px;
  text-align: center;
  border-radius: 2rem;
}

.modal-header {
  font-size: 16px;
  font-weight: 700;
}

.modal-delete {
  font-size: 16px;
  font-weight: 700;
  margin-top: 45px;
}

.modal-body {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
}

select {
  width: 170px;
  height: 25px;
  margin-top: 10px;
  margin-left: 60px;
  font-family: poppins, sans-serif;
  text-align: center;
  color: gray;
  cursor: pointer;
  font-weight: 600;
}

textarea {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: gray;
  width: 325px;
  height: 120px;
  cursor: pointer;
}

.cancel {
  color: black;
  font-family: poppins, sans-serif;
  font-weight: 700;
  border: none;
  width: 90px;
  height: 40px;
  margin-top: 10px;
  background-color: #f49292;
  border-radius: 2rem;
  cursor: pointer;
}

.cancel-list {
  color: black;
  font-family: poppins, sans-serif;
  font-weight: 700;
  border: none;
  width: 90px;
  height: 40px;
  margin-top: 10px;
  background-color: #f49292;
  border-radius: 2rem;
  cursor: pointer;
}

.confirm {
  color: black;
  font-family: poppins, sans-serif;
  font-weight: 700;
  border: none;
  width: 90px;
  height: 40px;
  margin-top: 10px;
  background-color: #77e56d;
  border-radius: 2rem;
  cursor: pointer;
}

.confirm-list {
  color: black;
  font-family: poppins, sans-serif;
  font-weight: 700;
  border: none;
  width: 90px;
  height: 40px;
  margin-top: 10px;
  background-color: #77e56d;
  border-radius: 2rem;
  cursor: pointer;
}

.background {
  background-color: rgb(0 0 0 / 70%);
  position: absolute;
  height: 900px;
  width: 100%;
  top: 0;
  left: 0;
}

.background-list {
  background-color: rgb(0 0 0 / 70%);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
}

.background-box {
  background-color: rgb(224 224 224 / 60%);
  width: 368px;
  height: 270px;
  margin: 15px 0;
  text-align: center;
}

.entry-img {
  width: 110px;
  height: 150px;
  margin-top: 20px;
}

.font-semibold-b {
  font-family: Poppins, sans-serif;
  font-weight: 800;
  font-size: 15px;
  color: black;
  height: 5px;
}

.font-light-b {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: black;
}

.stars {
  font-size: 15px;
  margin: 15px;
}

.star-space {
  margin-right: 5px;
}

.edit,
.delete {
  margin: 15px 40px;
  cursor: pointer;
}

.row-list {
  display: flex;
  flex-wrap: wrap;
}

.list-layout {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Layout response */

@media screen and (min-width: 500px) {
  .container-main {
    min-height: 82vh;
    justify-content: space-evenly;
    margin-bottom: 70px;
  }

  .footer {
    height: 80px;
  }

  .search-header {
    margin-top: 40%;
    text-shadow: 0 5px 70px;
    font-size: 35px;
  }

  .summary {
    width: 480px;
  }
}

@media screen and (min-width: 1000px) {
  .container-main {
    justify-content: space-evenly;
    margin-bottom: 20px;
  }

  .row-result {
    flex-direction: row;
  }

  .title-result {
    margin-top: 1%;
    font-size: 30px;
  }

  .img-result {
    width: 100%;
    height: 400px;
  }

  .summary {
    margin-top: 10%;
    margin-right: 10px;
    font-size: 20px;
    padding: 20px;
  }

  .add-list {
    width: 200px;
    height: 50px;
  }

  .list-layout {
    width: 50%;
  }
}
